<div class="form-group">
  <%= f.label :title, "Book Title" %>
  <%= f.text_field :title, class: "form-control" %>
  <% if f.object.errors[:title].any? %>
    <div class="alert alert-danger">
      <%= f.object.errors[:title].first %>
    </div>
  <% end %>
</div>

<div class="form-group">
  <%= f.label :body, "Body" %>
  <%= f.text_area :body, class: "form-control" %>
  <% if f.object.errors[:body].any? %>
    <div class="alert alert-danger">
      <%= f.object.errors[:body].first %>
    </div>
  <% end %>
</div>



